body{
    font-family: MontserratBold;
    margin: 0;
    padding: 0;
    font-size: 19px;
    overflow-x: hidden;
    color: #6B3BF4;
}
p{
    margin-block-start: 0em;
    margin-block-end: 0em;
}
button{
    outline: none;
}
ul{
    padding-inline-start: 0px;
    margin-block-start: 0em;
}

#email{
    display: none;
    font-size: 20px;
    padding: 10px;
    width: 120px;
    background-color: #fff;
    border-radius: 5px;
    color:#2F1893;
    margin: auto;
}
.fillstroke{
    -webkit-text-fill-color: rgb(255 255 255 / 0%);
    -webkit-text-stroke-width: 1px;
}




#feature{
    height:79px;
    line-height: 79px;
    overflow:hidden;
    margin:20px auto;
    margin:0;padding:0;list-style-type:none;margin:0;padding:0;
}

#feature li{
    float:left;
    padding-top: 14px;
}

#feature li a{text-decoration:none;}

#feature li a span{
    font-size:14px;
    padding-left: 
    20px;color:#fff;
    line-height:55px;
    color: #666666;
}



/* 鼠标圈圈 */
/* body,a{
    cursor: none!important;
} */
@media screen and (max-width: 1199px) {
    #follow{
        display: none;
    }
    *{
        cursor: default!important;
    }
    a{
        cursor: pointer!important;
    }
}


/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
#myPopup {
    width: 160px;
    background-color: #EEEEFF;
    color: rgba(21, 20, 57, 0.4);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 60px;
    left: 50%;
    margin-left: -80px;
    transition: transform 1s;
    height: 50px;
    line-height: 50px;
    display: none;
}

/* Popup arrow */
#myPopup::before {
    content: "";
    position: absolute;
    left: 50%;
    top: -10px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
.container{
    margin: 0px 5%;
}


@font-face{
    font-family: Montserrat;
    src: url('Montserrat-Bold.ttf'),
    url('../fonts/Montserrat-Regular.ttf'),
}
@font-face {
	font-family: Poppins;
    src:url('../fonts/Poppins-Regular.ttf')
}

.bindboxcontainer{
    
}
.titleContainer{
    color: #FFFFFF;
    font-size: 30px;
    background-image: url(../svg/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}


.titleContainer .bindBg{
    background-image: url(../images/bibdHead.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.titleContainer .indexfilter{
    height: 100%;
}
.navbar-fixed-top{
    display: none;
}
.titleContainer .indexfilter .navbar{
    background: #18191F;
    position: fixed;
    width: 100%;
    top: 0px;
    padding: 20px 0px;
    z-index: 10;
}
.titleContainer .indexfilter .navbar a{
    color: #fff;

}
.navbar-nav li {
    padding-top: 20px;
    font-size: 20px;
}
.titleContainer .indexfilter .navbar .mobilelogo{
    display: inline-block;
    width: 100px;
}
.titleContainer .indexfilter .navbar .mobilelogo img{
    width: 100%;
}
.titleContainer .indexfilter .navbar .menu_icon{
    display: inline-block;
}
.titleContainer .indexfilter .navbar .menu_icon span {
    display: block;
    width: 20px;
    height: 1px;
    background: #333;
    margin: 6px 0;
    transition: all .4s;
    -webkit-transition: all .4s;
}

.titleContainer .indexfilter .navbar .menu_icon.on span:first-child {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-top: 10px;
}

.titleContainer .indexfilter .navbar .menu_icon.on span:nth-child(2) {
    display: none;
}

.titleContainer .indexfilter .navbar .menu_icon.on span:nth-child(3) {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-top: -7px;
}





.titleContainer .header-nav{
    height: 79px;
    line-height: 79px;
}
.showmenu{
    display: none;
}

.titleContainer .indexfilter .header-title {
    position: relative;
    z-index: 1;
    font-weight: 700;
    margin: 53px 100px 0px 200px;
    font-size: 200px;
    opacity: 0;
    animation-fill-mode: forwards;
    transform-style: preserve-3d;
    transform: translateZ(0) translateY(50%) rotateX(-80deg);
    transform-origin: center 10%;
     transition: opacity 2s cubic-bezier(.215,.61,.355,1),
     transform 2.5s cubic-bezier(.215,.61,.355,1);
}
.container{
    width: 90%;
}
.footer{
    display: inline-flex;
    width: 100%;
    margin-top: 40px;
    height: 80px;
    line-height: 80px;
    padding: 30px 0px;

}
.footer .leftside{
    font-size: 16px;
    color: #999999;
    flex: 1;
}
.footer .rightside{
    flex: 1;
    text-align: right;

}
.footer .rightside img{
    width: 68px;
    height: 68px;    
}   
@keyframes movetop{
    0%{
        transform: translateY(0px);
        opacity: 0;
    }
   
  
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}


.titleContainer .indexfilter .header-title img{
    position: absolute;
    margin-top: 160px;
    margin-left: 60px;
    /* transition: 1s; */
    animation: move 8s infinite;
    animation-direction: alternate;
}
@keyframes move{
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-30px);

    }
}

.titleContainer .header-nav .indexnav,.titleContainer .header-nav .indexnav span{
    color: #1F2431;
    z-index:100;
    position: absolute;
}
.white{
    color: #fff !important;
}
.titleContainer .header-nav .right_nav{
    font-family: Montserrat;
    margin-left: 60px;
    float: right;
    z-index: 100;
}
.titleContainer .header-nav .right_nav a{
    margin-left: 60px;
    color: #fff;
    text-decoration: none;
    font-size: 19px;
    transition: 1s;
    overflow: hidden;
    animation: myscroll 3s;
    animation-iteration-count: 1;
}

.titleContainer .header-nav .right_nav a:hover{
    opacity: 0.5;
    animation: myscroll 3s;
    animation-iteration-count: 1;
}
@keyframes myscroll {
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(30px);

    }
 }


.titleContainer .header-nav .right_nav .menuicon{
    display: inline-block;
    position: relative;
    top: 10px;
}

.titleContainer .header-nav .right_nav #coverBg,.headercontainer .header-nav .right_nav #coverBg{
    position: fixed;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    display: none;
    z-Index: 999;
}

.titleContainer .header-nav .right_nav #coverBg p,.headercontainer .header-nav .right_nav #coverBg p{
    line-height: 40px;
    width: 90%;
    margin: auto;
}
.titleContainer .header-nav .right_nav #coverBg #closeicon,.headercontainer .header-nav .right_nav #coverBg #closeicon{
    text-align: right;
    height: 79px;
    line-height: 79px;

}
.titleContainer .header-nav .right_nav #coverBg #closeicon .close , .headercontainer .header-nav .right_nav #coverBg #closeicon .close{
    position: relative;
    top: 10px;
}
.titleContainer .header-nav .right_nav #coverBg #closeicon .indexnav,.headercontainer .header-nav .right_nav #coverBg #closeicon .indexnav{
    float: left;
}


.titleContainer .header-nav .right_nav a.active{
    color: #8C30F5;
    border-bottom: solid 1px #8C30F5;
    padding: 5px;
}

.titleContainer .header-nav span:nth-child(3){
    margin-left: 2%;
}
.titleContainer .header-nav .logo{
    width: 145px;
    display: inline-block;
}
.titleContainer .header-nav .logo img{
    width: 100%;
    position: relative;
    top: 7px;
    right: 8px;

}
.titleContainer .header-nav .bindboxfont span, .titleContainer .header-nav .bindboxfont a{
    color: #fff;
}

.titleContainer .overhidden{
    overflow: hidden;
    margin-top: -52px;
    width: 100%;
}
.titleContainer .bannerbg{
    color: #6B3BF4;
    max-width: 790px;
    margin:auto;
    font-size: 55px;
    margin-top: 200px;
    
}
.portfolios{
    display: inline-flex;
    width: 100%;
}
.portfolios .leftside{
    flex: 1;
    
}
.portfolios .leftside span{
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #6B3BF4;
    border-radius: 30px;
}
.portfolios .leftside p{
    width: 2px;
    height: 455px;
    background-color: #6B3BF4;
    margin-left: 3px;
    margin-top: -10px;
}
.portfolios .rightside{
    flex: 1;
}
.titleContainer  .lorem{
    font-size: 18px;
    color: #666666;
    max-width: 580px;
    margin-top: 100px;

}
@keyframes changeBiger {
    0% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}



/* hownftContainer */

.howpad{
    padding-bottom: 90px;
    padding-top: 0px;
}

/* seaworld背景 */
.seaBg{
    position: absolute;
    z-index: -1;
    margin-top: 50px;
}


@media only screen and (max-width: 1700px) {
  
    .titleContainer .indexfilter .header-title{
        font-size: 150px;
    }
   
    .hownftContainer .howbox .con_right{
        background-size: contain;
    }
    
    .teamCotainer .pad .slide{
        margin-top: 120px;
    }
    .teamCotainer .pad .slide{
        width: 80%;
    }
    .teamCotainer .pad .slide .slide_inner{
        flex: 1;
    }
    .teamCotainer .pad .slide .slide_inner img{
        width: 100%;
    }
   
    .teamCotainer .team1 .flexbox .team_intro{
        height: 490px;
    }
    .hownftContainer .howbox .onlynftWrap{
        width: 38%;
    }
    .hownftContainer .howbox .onlynftWrap img{
        width: 100%;
    }
   
    .hownftContainer .howbox .onlynftWrap :nth-child(2){
        position: absolute;
        top: 52%;
        float: left;
        left: -62%;
    }
    .hownftContainer .howbox .con_left img,.hownftContainer .howbox .con_left p:nth-child(1){
        margin-left: 0px;
    }
    .titleContainer .overhidden{
        margin-top: -40px;
    }

}
@media screen and (max-width: 1500px) {
    .teamCotainer .team1 .flexbox .team_intro{
        height: 450px;
    }
}
@media screen and (max-width: 1400px) {
    .titleContainer .indexfilter .header-title{
        font-size: 120px;
    }
    
  
}
@media screen and (max-width: 1200px) {
    .titleContainer .indexfilter .header-title{
        font-size: 90px;
    }
   
}

